# userlogin db
DB_USER=[NOME DO USUARIO NO BANCO DE DADOS]
DB_PASSWORD=[SENHA DO USUARIO NO BANCO DE DADOS]

# jwt 
JWT_SECRET=[SECRETE PRA PROTEGER TOKEN]

# port backend develop
PORT=[PORTA DO SERVIDOR]